<div class="slds-card__header slds-grid">
  <header class="slds-media slds-media_center slds-has-flexi-truncate">
    <div class="slds-media">
      <div class="slds-media__figure">
        <span class="slds-avatar slds-avatar_large">
          <img src="images/giphy-logo.png" />
        </span>
      </div>
      <div class="slds-media__body">
        <h2>
          <a class="slds-card__header-link slds-truncate">
            <span class="slds-text-heading_large">Giphy Selector 9000</span>
          </a>
        </h2>
      </div>
    </div>
  </header>
</div>
