<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>TDX Giphy Block</title>
  <link rel="shortcut icon" type="image/png" href="/images/giphy-logo.png" />
  <link rel="stylesheet" type="text/css" href="/slds/assets/styles/salesforce-lightning-design-system.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
