<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="image-link">Image Link</label>
  <div class="slds-form-element__control">
    <input type="text" id="image-link" class="slds-input" placeholder="Optional URL for link wrap" />
  </div>
</div>
