<!-- image width -->
<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="slider-image-width">
            <span class="slds-slider-label">
      <span class="slds-slider-label__label">Image Width</span>
            </span>
        </label>
  <div class="slds-form-element__control">
    <div class="slds-slider">
      <input type="range" id="slider-image-width" class="slds-slider__range" value="300" min="100" max="800" />
      <span class="slds-slider__value" id="slider-image-width-val" aria-hidden="true">300</span>
    </div>
  </div>
</div>
<!-- /image width -->
<!-- image height -->
<div class="slds-form-element slds-p-top_small">
  <label class="slds-form-element__label" for="slider-image-height">
            <span class="slds-slider-label">
      <span class="slds-slider-label__label">Image Height</span>
            </span>
        </label>
  <div class="slds-form-element__control">
    <div class="slds-slider">
      <input type="range" id="slider-image-height" class="slds-slider__range" value="300" min="100" max="800" />
      <span class="slds-slider__value" id="slider-image-height-val" aria-hidden="true">300</span>
    </div>
  </div>
</div>
<!-- /image height -->
