<div class="slds-grid slds-gutters slds-p-top_small">
  <div class="slds-col slds-size_1-of-3">
    <!-- scale to fit -->
    <div>
      <form id="image-scale">
        <fieldset class="slds-form-element">
          <legend class="slds-form-element__legend slds-form-element__label">Scale to Fit</legend>
          <div class="slds-form-element__control">
            <div class="slds-radio_button-group">
              <span class="slds-button slds-radio_button">
        <input type="radio" name="scale" id="scale-yes" value="yes" />
        <label class="slds-radio_button__label" for="scale-yes">
          <span class="slds-radio_faux">Yes</span>
              </label>
              </span>
              <span class="slds-button slds-radio_button">
        <input type="radio" name="scale" id="scale-no" value="no" checked="checked"/>
        <label class="slds-radio_button__label" for="scale-no">
          <span class="slds-radio_faux">No</span>
              </label>
              </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- /scale to fit -->
  </div>
  <div class="slds-col slds-size_2-of-3">
    <!-- /image alignment -->
    <div>
      <form id="image-alignment">
        <fieldset class="slds-form-element">
          <legend class="slds-form-element__legend slds-form-element__label">Image Alignment</legend>
          <div class="slds-form-element__control">
            <div class="slds-radio_button-group">
              <span class="slds-button slds-radio_button">
    <input type="radio" name="alignment" id="image-left" value="left" />
    <label class="slds-radio_button__label" for="image-left">
      <span class="slds-radio_faux">Left</span>
              </label>
              </span>
              <span class="slds-button slds-radio_button">
    <input type="radio" name="alignment" id="image-center" value="center" checked="checked"/>
    <label class="slds-radio_button__label" for="image-center">
      <span class="slds-radio_faux">Center</span>
              </label>
              </span>
              <span class="slds-button slds-radio_button">
    <input type="radio" name="alignment" id="image-right" value="right" />
    <label class="slds-radio_button__label" for="image-right">
      <span class="slds-radio_faux">Right</span>
              </label>
              </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- /image alignment -->
  </div>
</div>
