<div class="slds-grid slds-gutters slds-p-top_small">
  <div class="slds-col slds-size_2-of-3">
    <!-- Text Box -->
    <label class="slds-form-element__label" for="search-text">Search Giphy</label>
    <div class="slds-form-element__control">
      <input type="text" id="search-text" class="slds-input" placeholder="Ex. Homer Bushes, Picard Make It So" />
    </div>
    <!-- /Text Box -->
  </div>
  <div class="slds-col slds-size_1-of-3 slds-p-top_large">
    <!-- /Search Button -->
    <button id="search" class="slds-button slds-button_neutral">Search</button>
    <!-- /Search Button -->
  </div>
</div>
